meta(charset='utf-8')
meta(http-equiv='X-UA-Compatible', content='IE=edge')
meta(name='viewport', content='width=device-width, initial-scale=1')

// Main CSS
link(rel='stylesheet', type='text/css', href='/css/main.css')
// Font-icon css
link(rel='stylesheet', type='text/css', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
//link(rel='stylesheet', type='text/css', href='/css/font-awesome.min.css')

//-	Quill
link(rel='stylesheet', type='text/css', href='/css/quill.core.css')
link(rel='stylesheet', type='text/css', href='/css/quill.snow.css')

link(rel='stylesheet', type='text/css', href='/css/jquery.dataTables.min.css')
link(rel='stylesheet', type='text/css', href='/css/buttons.dataTables.min.css')

