doctype html
html
	head
		include includes/_head.pug
		title Reset Password

	body
		section.material-half-bg1
			.cover

		section.login-content
			.logo
				img(src='images/logo.png' style='height: 130px')

			.tile
				.tile-body.p-2
					if hash
						h2.text-center
							i.fa.fa-lg.fa-fw.fa-key
							| Reset Password
						hr 
						
						if message
							.form-group
								span.badge.badge-danger=message

						.form-group
							strong
								label.control-label EMAIL
							input#login_email.form-control(type="text", placeholder="Email", autofocus, name='username', value='naval@mobigic.com')

						.form-group
							strong
								label.control-label PASSWORD
							input#login_password.form-control(type="password", placeholder="Password", name='password', value='amdathlon')

						.form-group
							strong
								label.control-label RE-ENTER PASSWORD
							input#login_password_again.form-control(type="password", placeholder="Password", value='amdathlon')

						.form-group.btn-container
							button.btn.btn-primary.btn-block(onclick='resetpassword()')
								i.fa.fa-sign-in.fa-lg.fa-fw
								| SUBMIT
								
					else
						h5 Your request to reset the password is granted. Kindly check your email to reset your password.

		include includes/_javascript.pug

		if hash
			script.
				function resetpassword() {
					$.post('/performresetpassword', {
						hash: '!{hash}',
						email: $('#login_email').val(),
						password: $('#login_password').val()
					}, function(data) {
						//alert(data.errormsg);
						if(data.errormsg) {
							swal('', data.errormsg, 'error');
						}
						else {
							swal('', 'Your password is changed sucessfully.', 'success').then((value)=> location.href='/login');;
						}
					});
				}